body
{
	margin:0;
	padding:0;
	font-family: arial;
}

*
{
	box-sizing:border-box;
}

img
{
	width: 100%;
	height: auto;
}

.row::after
{
	content: "";
	display: table;
	clear: both;
}

[class*="col-"]
{
	float: left;
}



@media only screen and(max-width: 300px)
{
	.col-xs-1{width:8.33%;}
	.col-xs-2{width:16.66%;}
	.col-xs-3{width:25%;}
	.col-xs-4{width:33.33%;}
	.col-xs-5{width:41.66%;}
	.col-xs-6{width:50%;}
	.col-xs-7{width:58.33%;}
	.col-xs-8{width:66.66%;}
	.col-xs-9{width:75%;}
	.col-xs-10{width:83.33%;}
	.col-xs-11{width:91.66%;}
	.col-xs-12{width:100%;}

}


@media only screen and (max-width: 600px)
{
	.col-s-1{width:8.33%;}
	.col-s-2{width:16.66%;}
	.col-s-3{width:25%;}
	.col-s-4{width:33.33%;}
	.col-s-5{width:41.66%;}
	.col-s-6{width:50%;}
	.col-s-7{width:58.33%;}
	.col-s-8{width:66.66%;}
	.col-s-9{width:75%;}
	.col-s-10{width:83.33%;}
	.col-s-11{width:91.66%;}
	.col-s-12{width:100%;}

	.display
	{
		display: none;
	}

	/*nav bar*/
	.nav-bar
	{
		padding: 10px;
	}


	/*about*/

    .img-about
    {
	transition:1s;
	position: relative;
    }

    .about-text
    {
    text-align: center;
    color: #616161;
    padding: 15px;
    opacity: 1;
    transition:1s;
    }

   .member
   {
   opacity: 1;
   transition:1s;
   position: relative;
   }

   /*portfolio*/

    .img-portfolio
    {
	padding: 5px;
	cursor: pointer;
	transition:0.4s;
	opacity: 1;
    }
}

@media only screen and (min-width: 600px)
{
	.col-m-1{width:8.33%;}
	.col-m-2{width:16.66%;}
	.col-m-3{width:25%;}
	.col-m-4{width:33.33%;}
	.col-m-5{width:41.66%;}
	.col-m-6{width:50%;}
	.col-m-7{width:58.33%;}
	.col-m-8{width:66.66%;}
	.col-m-9{width:75%;}
	.col-m-10{width:83.33%;}
	.col-m-11{width:91.66%;}
	.col-m-12{width:100%;}

     /*margin*/
	.col-margin-1{margin-left:8.33%;}
	.col-margin-2{margin-left:16.66%;}
	.col-margin-3{margin-left:25%;}
	.col-margin-4{margin-left:33.33%;}
	.col-margin-5{margin-left:41.66%;}
	.col-margin-6{margin-left:50%;}
	.col-margin-7{margin-left:58.33%;}
	.col-margin-8{margin-left:66.66%;}
	.col-margin-9{margin-left:75%;}
	.col-margin-10{margin-left:83.33%;}
	.col-margin-11{margin-left:91.66%;}
	.col-margin-12{margin-left:100%;}

	/*nav bar*/
	.nav-bar
	{
		padding: 30px;
	}

	/*about*/

    .img-about
    {
	top: -30px;
	transition:1s;
	position: relative;
    }


    .about-text
    {
    text-align: center;
    color: #616161;
    padding: 15px;
    opacity: 0;
    transition:1s;
    }

   .member
   {
   opacity: 0;
   bottom: -30px;
   transition:1s;
   position: relative;
   }
   
   /*portfolio*/
   
   .img-portfolio:hover
    {
	padding:0;
	filter:brightness(50%);
    }

    .img-portfolio
    {
	padding: 5px;
	cursor: pointer;
	transition:0.4s;
	position: relative;
	top: 30px;
	opacity: 0;
    }
}


@media only screen and (min-width: 900px)
{
	.col-l-1{width:8.33%;}
	.col-l-2{width:16.66%;}
	.col-l-3{width:25%;}
	.col-l-4{width:33.33%;}
	.col-l-5{width:41.66%;}
	.col-l-6{width:50%;}
	.col-l-7{width:58.33%;}
	.col-l-8{width:66.66%;}
	.col-l-9{width:75%;}
	.col-l-10{width:83.33%;}
	.col-l-11{width:91.66%;}
	.col-l-12{width:100%;}


}


span
{
	color:#b18a22;
}
/*navbar*/

.nav-bar
{
	width: 100%;
	height: 10px;
	display: table;
	position: fixed;
	z-index: 100;
	background-color: rgba(255,255,255,0);
	transition:0.5s;
	font-weight: bold;
}

.animation-nav
{
    padding: 10px 30px;
	box-shadow: 0px 0px 10px #888;
	background-color: rgba(255,255,255,1);
	transition:0.5s;


}
.logo
{
	float: left;
}
.logo img 
{
	width: 70%;
	opacity: :0.6;
}

.nav-bar ul
{
	list-style-type: none;
	float: right;
	padding: 0px;
}

.nav-bar ul li
{
	float: left;
	text-align: center;
}

.nav-bar ul li a 
{
	text-decoration: none;
    color:#fff;
    opacity: 0.8;
}

.nav-bar ul li:first-child
{
	text-decoration: line-through;
}

.nav-bar ul li a:hover
{
	opacity:1;
} 

.nav-bar ul li a::after
{
	content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: #b18a22;
    transition: width .3s;
}

.nav-bar ul li a:hover::after
{
	width: 100%;
}


/*home*/
.home
{
    max-width: 100%; 
    margin: 0 auto;
    position: relative;
    padding:0;

}

.img-home
{

    margin: 0 auto;
    display: block;
    position: relative;
}

.text-home
{
	text-align: center;
	color: #fff;
	top: 50%;
	position: absolute;
	transform:translateY(-50%);
	width: 100%;
	padding:15px;
}


/*about*/

.about
{
	max-width: 1000px;
	display: table;
	margin: 0 auto;
	overflow: hidden;
}



.member img 
{
	width: 100px;
	display: block;
    margin: auto;
    filter:grayscale(100%);
    -ms-filter:grayscale(100%);
    transition:0.4s;
}
.member img:hover
{
	filter:grayscale(0%);
    -ms-filter:grayscale(0%);

}

.member h1
{
  text-align: center;
  font-size: 20px;
}

.stress
{
	background-image: url(img/stress.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
	height: 300px;
	position: relative;
}
.stress h1
{
	color: #fff;
	text-align: center;
	width: 100%;
	top: 50%;
	position: relative;
	transform:translateY(-50%);

}



/*portfolio*/

.portfolio
{
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 30px;
}






    /***box portfolio***/

.box
{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 101;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

.img-box
{
	width: 50%;
	margin: auto ;
	display: block;
	position: relative;
	top: 50%;
	transform:translateY(-50%);
}

.close {
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}
.close span 
{
	padding: 20px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
}

.close span:hover
{
	color: #ccc;
}

/*contact*/

.contact
{
	width: 100%;
	height: 600px;
	background-color: #b18a22;
	position: relative;
}

.contact ul
{
	list-style-type: none;
	padding: 0;
	margin-top: 40px;
	margin-bottom: 30px;


}

.contact ul li
{
	float: left;
	text-align: center;
}

.contact ul li a 
{
	text-decoration: none;
    color:#fff;
    opacity: 0.4;
}



.contact ul li a:hover
{
	opacity:1;
} 

.contact ul li a::after
{
	content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.contact ul li a:hover::after
{
	width: 100%;
}

.logo-contact
{
	width: 100px;
	margin: 0 auto;
	opacity: 0.5;
	transition:0.4s;
	cursor: pointer;
}

.logo-contact:hover
{
	opacity: 1;
}

.contact-information
{
	text-align: center;
	color: #fff;
	opacity: 0.8;
	margin: 0 auto;
	margin-top: 30px;
    line-height: 200%;

}

.contact-information span 
{
	color: #fff;
    cursor: pointer;
    opacity: 1;	
}

.copyright
{
	text-align: center;
	color: #fff;
	opacity: 0.8;
	margin: 0 auto;
	margin-top: 50px;	
}

.social
{
	margin: 0 auto;
	width: 50%;
	margin-top: 50px;
}
.social img 
{
	width: 50px;
	margin: auto;
	display: block;
}
